<div id="wrapper">

        <!-- Navigation -->
            
        <header></header> <!-- top level navigation -->

        <!-- /.navbar-top-links -->
        
               
        <!-- /.navbar-static-side -->

            <div id="page-wrapper" style="min-height: 561px;">

        
		<!-- single page content loads here -->


                <div ui-view></div>
                
               
            </div>

           <footer class="main-footer" style="margin-bottom:0px;margin-left:250px">
                    
                    <strong>Copyright &copy; <a href="https://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>.</strong> All rights reserved.
            </footer>
  


            <!-- /#page-wrapper -->
    </div>
<script>
</script>        