<div>
<br/>
	

	<div class="row">

	<!-- start of 1st column about me -->	
		<div class="col-md-4">
	
			<div class="box box-primary">

				<center> 

					<h3 class="text-primary">Arvind </h3> 

					<p class="text-muted"> Software Engineer </p>

				 </center>

				 <hr>

				 <div class="box-body">

				 	<i class="fa fa-book margin-r-5"></i> <b>Education</b>
				 	<p class="text-muted"> B.E. Computer Science and Engineering </p>	

				 </div>	

				 <hr>	

				<div class="box-body">

					 <i class="fa fa-map-marker margin-r-5"> <b>Location </b> </i>
					<p class="text-muted"> Chennai , Tamilnadu , India </p>								 

				</div>

				<hr>


				<div class="box-body">

					<i class="fa fa-gear margin-r-5"> <b> Skills</b> </i><br/>

					<p class="label label-success"> UI Development </p>
					<p class="label label-info"> Server Side Development </p>
					<p class="label label-warning"> Mobile Development </p>
					<p class="label label-danger"> Software Engineer </p>

				</div>	
				<br/>	
			</div>
		</div>
	<!-- end of 1st column about me -->			


	<!-- start of 2nd column about me -->	
		<div class="col-md-4">	
			<div class="box box-danger">

				<center> 

					<h3 class="text-red">Hobbies </h3> 

					<p class="text-muted"> The things I love to do </p>
				 </center>

				 <hr>

				 <div class="box-body">

				 	<i class="fa fa-trophy margin-r-5"></i> <b> &nbsp;Playing Cricket </b> 
				 </div>	

				 <hr>

				 <div class="box-body">
				 	<i class="fa fa-music margin-r-5"></i> <b>&nbsp; Listening to Music </b>
				 </div>
				 <hr>

				 <div class="box-body">	
				 	<i class="fa fa-cutlery margin-r-5"></i> <b> &nbsp;Eating Pizza </b>
				 </div>
				 <hr>

				 <div class="box-body">	
				 	<i class="fa fa-star margin-r-5"></i> <b> &nbsp;Watching Stars</b>
				 </div>
				 

				 <br/>	<br/><br/>

			</div>
		</div>
	<!-- end of 2nd column about me -->			
	



	<!-- start of 3rd column about me -->	
		<div class="col-md-4">	
			<div class="box box-success">

				<center> 

					<h3 class="text-green">Languages Known </h3> 
					<p class="text-muted" style="padding:0px 5px 0px 5px"> My daily conversations happen in the following </p>
				 </center>

				 <hr>


				<div class="box-body" style="font-size:20px">					
				 <strong><span class="label label-info">English</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text-red"></span>
                       <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
                 
                 <hr>

                 <div class="box-body" style="font-size:20px">					   
                   <strong><span class="label label-success">Tamil</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-orange"></span>
                        <span class="glyphicon glyphicon-star text-orange"></span>
                        <span class="glyphicon glyphicon-star text-orange"></span>
                        <span class="glyphicon glyphicon-star text-orange"></span>
                       <span class="glyphicon glyphicon-star"></span>
                    </p>
                  </div>
                   <hr> 
                   	<br>
                   	
                 <div class="box-body">

                 	<a ui-sref="dashboard.contact" class="btn btn-lg btn-block btn-primary"> Contact </a>
                 </div>  

				 	<br/><br/>

			</div>
		</div>
	<!-- end of 3rd column about me -->			




 </div>



</div>
