<div>

    <div class="row">

        <h3 class="page-header" style="padding-left:24px;"> Contact Details</h3>

    </div>    


    <div >
        
        <div class="row">

            <div class="col-md-6 col-xs-12">

                <div class="col-md-12">
                        <div class="panel panel-primary">
                            
                            <div class="panel-heading">

                                <strong>Email Address</strong>
                            </div>

                            <div class="panel-body">

                                <div class="col-xs-12">

                                    <i class="fa fa-envelope fa-fw"></i>  &nbsp; arvindan92@gmail.com </br>
                                </div>  

                                <div class="col-xs-12">
                                    <i class="fa fa-envelope fa-fw"></i>   &nbsp; arvindan921@gmail.com </br>
                                 </div>   
                            </div>    

                        </div>    
                </div>


                <div class="col-md-12">

                    <div class="panel panel-success">
                        
                        <div class="panel-heading">

                                <strong>Github & HackerRank</strong>
                        </div>

                        <div class="panel-body">
            
                          <div class="col-xs-12">  
                            <i class="fa fa-github fa-fw"></i> &nbsp  <a target="_blank" href="https://github.com/Arvind6353"> https://github.com/Arvind6353 </a> </br>
                           </div> 

                         <div class="col-xs-12">  
                            <i class="fa fa-code fa-fw"></i> &nbsp  <a target="_blank" href="https://www.hackerrank.com/arvindan"> HackerRank </a> </br>
                        </div>

                         <div class="col-xs-12">  
                            <i class="fa fa-linkedin  fa-fw"></i> &nbsp  <a target="_blank" href="https://in.linkedin.com/in/arvindan-ta-2174016a"> Linkedin </a> </br>
                        </div>



                        </div>    

                    </div>    

                </div>
        

                <div class="col-md-12">

                   <div class="panel panel-danger">
                        
                        <div class="panel-heading">

                               <strong> Contact Info</strong>
                        </div>

                        <div class="panel-body">
            
                             <div class="col-xs-12">  
                                <i class="fa fa-mobile fa-fw"></i> &nbsp <a href="tel:+919500188953"> +91-(9500)-(188)-(953)</a> </br>
                              </div>
                               
                            <div class="col-xs-12">        
            
                                <i class="fa fa-facebook fa-fw"></i> &nbsp  <a target="_blank" href="https://www.facebook.com/arvind.stuart"> Arvind </a> </br>
                            </div>

                        </div>    

                    </div>    
                </div>   

            </div>

            <div class="col-md-6 col-xs-12">

                <div class="col-md-12">

                  <div class="panel panel-warning">
                    
                    <div class="panel-heading">

                            <strong> Send me a message </strong> 
                    </div>

                    <div class="panel-body">
                        <br/>
                            
                            <div class="form-horizontal" ng-form="contactForm" name="contactForm" no-validate>

                                 <div class="form-group">
                                    <label for="name" class="col-xs-2 control-label"><i class="fa fa-user fa-x" style="font-size: 25px"></i></label>
                                    <div class="col-xs-10" style="padding-left: 0px;">
                                      <input type="text" ng-model="contact.form.name" required class="form-control" id="name" placeholder="Name">
                                    </div>
                                  </div>


                                <div class="form-group">
                                    <label for="phone" class="col-xs-2 control-label"><i style="font-size: 25px" class="fa fa-phone fa-x"></i></label>
                                    <div class="col-xs-10" style="padding-left: 0px;">
                                      <input type="number" ng-model="contact.form.phone" required class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-xs-2 control-label"><i style="font-size: 25px" class="fa fa-envelope fa-x"></i></label>
                                    <div class="col-xs-10" style="padding-left: 0px;">
                                      <input type="email" ng-model="contact.form.email" required class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="message" class="col-xs-2 control-label"><i style="font-size: 25px" class="fa fa-clipboard fa-x"></i></label>
                                    <div class="col-xs-10" style="padding-left: 0px;">
                                      <input type="text" ng-model="contact.form.message" required class="form-control" id="message" placeholder="Message">
                                    </div>
                                </div>

                                <br/> 
                                <div class="form-group">
                                    <div class="col-xs-4"></div>

                                    <div class="col-xs-8">

                                       <div class="btn-group"> 
                                          <button class="btn btn-md btn-primary" ng-disabled="contactForm.$invalid" ng-click="contact.send()">Send </button>
                                            <button class="btn btn-md btn-danger"  ng-click="contact.clear()">Clear </button>

                                        </div>

                                </div>   

                             </div>   
                        </div>     
                        <br/>

                    </div>    

                </div>    

            </div>    

        </div>   

      </div>  

</div>
