<div>

   <div class="row">

        <h3 class="page-header" style="padding-left:24px;"> Project Details</h3>

    </div>    

  <div class="box">
        <br/>
    <div class="box-body">

  <div class="row" ng-repeat="project in projects.projects" >    

    <div class="col-md-12">
    <!-- start of project -->
          <div class="panel panel-{{project.theme}}">

            <div class="panel-heading">

              <b>{{project.title}}</b>
            
               <i style="float:right;margin-top:-6px"class="fa fa-plus-circle fa-2x margin-r-5" ng-click="c1$index=!c1$index" ng-show="!c1$index"></i>
               <i  style="float:right;margin-top:-6px" class="fa fa-minus-circle fa-2x margin-r-5" ng-click="c1$index=!c1$index" ng-show="c1$index"></i>  

               <br/>

      
            </div> 



        <div class="panel-body" ng-show="c1$index">


              <div class="row">

                <div class="col-md-12 cols-xs-12">
                   
                  
                        <strong> <i class="glyphicon glyphicon-info-sign margin-r-5"></i><span style="color:#337ab7"> Description </span></strong>

                        <p> {{project.desc}} </p>
                  </div>
           
              </div>


               <div class="row"> 
                  <div class="col-md-12 col-xs-12">
                      
                        <strong> <i class="fa fa-code margin-r-5"></i> <span style="color:#337ab7">Technology Used </span></strong>
                        <p> {{project.tech}} </p>
                    </div>
                 
                 </div>

                 <div class="row">     
                    <div class="col-md-12 col-xs-12" style="padding:5px 20px 5px 10px ">
                            <strong><i class="fa fa-user-md"></i><span style="color:#337ab7"> Role </span> </strong><br/>
                            <span ng-repeat="role in project.roles">
                            <p class="label label-{{role.theme}}" >
                                {{role.name}}
                             </p>   
                           </span>
                    </div>


             
             </div>  <!-- end of panel -body -->

          </div> <!-- end of panel -->
    <!-- end of  proj -->
    </div>
  </div>


    </div>



   </div>
   
</div>

