<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">

           <div class="user-info"> 
                <div class="pull-left image">
                        <i class="fa fa-3x fa-user text-primary"></i>
                </div>

                <div class="pull-left info">
                
                      <p style="font-size:18px">Arvind</p>
                      <span class="text-danger text-sm">Software Engineer</span>

                </div>
            </div>

            <br/><br/>
             <sidebar-search></sidebar-search> 

            <li ui-sref-active="active">
                <a ui-sref="dashboard.home" ng-click="minimizeSidebar()"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.techSkills" ng-click="minimizeSidebar()"><i class="fa fa-gears fa-fw"></i>  Tech Skills<span></span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard.experience" ng-click="minimizeSidebar()"><i class="fa fa-suitcase fa-fw"></i>  Experience<span></span></a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard.education" ng-click="minimizeSidebar()"><i class="fa fa-graduation-cap fa-fw"></i>  Education<span></span></a>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="dashboard.projects" ng-click="minimizeSidebar()"><i class="fa fa fa-file-code-o fa-fw"></i>  My Projects<span></span></a>
            </li>




            <li ui-sref-active="active">
                <a ui-sref="dashboard.aboutMe" ng-click="minimizeSidebar()"><i class="fa fa-user fa-fw"></i>  About Me<span></span></a>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="dashboard.contact" ng-click="minimizeSidebar()"><i class="fa fa-phone fa-fw"></i>  Contact <span></span></a>
            </li>

            <li><a target="_blank" href="https://github.com/Arvind6353/angular-bootstrap-blog/"><i class="fa fa-github fa-fw"></i>  Code in Github <span></span></a></li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



